<% provide(:title, 'About') %>
<h1>About Us</h1>
<p>
	My name is <a href=http://twitter.com/itslikemiracle>Tyler Myracle</a>
	and I am the lead developer and CEO at Helium Labs. We are a company focused
	on creating web and iOS applications for clients to tackle specific needs.
</p>
